<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	</head>
	<body>
		<header>
			<h1>Fore Vietnam</h1>
			<a href="/">Home</a>
			<a href="./app">Our test app</a>
		</header>

		<h1>Fore Vietnam</h1>
		<div>At Fore Vietnam, we envision a world where trust and digital innovation harmoniously coexist, free from the shackles of cyber threats. Our commitment is to pioneer cutting-edge security solutions that empower businesses and individuals to navigate the digital landscape with confidence.</div>
		<h1>Our Vision</h1>
		<div>To be the vanguard in safeguarding digital ecosystems, ensuring the integrity, confidentiality, and availability of information. We strive to create an environment where clients thrive without fear of compromise, and where security is not just a service, but a fundamental aspect of digital progress.</div>
		<div src="info">
			<h2>Innovation</h2>
			<div>We embrace technological evolution, continually refining our methods to stay ahead of emerging threats.</div>
			<h2>Integrity</h2>
			<div>Our dedication to ethical practices forms the bedrock of our services. Trust is paramount.</div>
			<h2>Collaboration</h2>
			<div>We foster partnerships that transcend security, working alongside clients to fortify their digital foundations.</div>
			<h2>Global Impact</h2>
			<div>As a global force in cybersecurity, we aim to elevate security standards, making the digital realm safer for everyone.</div>
		</div>

		<footer>
			<div>Fore Vietnam</div>
			<div>Address: XXXX XXX XXXX XXX XXXXXX XXXXXXXXXXXXX</div>
			<div>Phone: +00 00 0000 0000</div>
		</footer>
	</body>
</html>